div.scrollMenu {
    background-color: inherit;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    vertical-align: middle;
}

div.scrollMenu * {
    vertical-align: middle;
}

div.scrollMenu a {
    display: inlne-block;
    background-color: #fff;
    color: rgb(68,68,68);
    text-align: center;
    padding: 20px 14px;
    margin: 0;
    text-decoration: none;
}

div.scrollMenu a:hover {
    background-color: #ccc;
}

div.scrollMenu label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.scrollSection {
    padding: 5px 14px;
}
